/* Floating Animation */

@keyframes floating {

  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-20px);
  }

  100%{
    transform:translateY(0px);
  }

}

.floating{
  animation:floating 4s ease-in-out infinite;
}

/* Fade Up */

.fade-up{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}

.fade-up.active{
  opacity:1;
  transform:translateY(0);
}

/* Glow Effect */

.glow:hover{
  box-shadow:
  0 0 20px #00e0ff,
  0 0 40px #00e0ff;
}
